
<div class="container">
	<h1>Cadastro de Produto</h1>

	<form role="form">
	  <div class="form-group">
	    <label for="ejemplo_email_1">Código</label>
	    <input data-ng-model="produto.codigo" type="text" class="form-control"
	           placeholder="Código">
	  </div>
	  <div class="form-group">
	    <label >Nome</label>
	    <input data-ng-model="produto.nome" type="text" class="form-control"
	           placeholder="Nome">
	  </div>
	  <div class="form-group">
	    <label >Descrição</label>	    
	    <textarea data-ng-model="produto.descricao" class="form-control" rows="3" ></textarea>
	  </div>

	  <div class="form-group">
	    <label >Preço</label>	    
	    <input data-ng-model="produto.preco" type="text" class="form-control"
	           placeholder="Preço">
	  </div>
	  <button type="submit" class="btn btn-default" data-ng-click="save()">Gravar</button>	  
	</form>

</div>